<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="cielo">
                <div class="autopista"></div>
                <div class="ciudad"></div>

                <div class="auto">
                    <img src="~/Content/images/car.png">
                </div>
                <div class="ruedas">
                    <img src="~/Content/images/wheel.png" class="atras-ruedas">
                    <img src="~/Content/images/wheel.png" class="adelante-ruedas">
                </div>
            </div>
        </div>
    </div>